@model API.DTOs.Employees.EmployeeDto

@{
    //ViewData["Title"] = "EditEmp";
    Layout = "_AdminLayout";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Update Employee</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="employeeTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <form asp-action="UpdateEmp">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Guid" class="control-label"></label>
                                            <input asp-for="Guid" class="form-control"/>
                                            <span asp-validation-for="Guid" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Nik" class="control-label"></label>
                                            <input asp-for="Nik" class="form-control"/>
                                            <span asp-validation-for="Nik" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="FirstName" class="control-label"></label>
                                            <input asp-for="FirstName" class="form-control"/>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp-for="LastName" class="form-control"/>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="BirthDate" class="control-label"></label>
                                            <input asp-for="BirthDate" class="form-control"/>
                                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Gender" class="control-label"></label>
                                            <input asp-for="Gender" class="form-control"/>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="HiringDate" class="control-label"></label>
                                            <input asp-for="HiringDate" class="form-control"/>
                                            <span asp-validation-for="HiringDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control"/>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber" class="control-label"></label>
                                            <input asp-for="PhoneNumber" class="form-control"/>
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary"/>
                                        </div>
                                    </form>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
